/* Global */
body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

/* Header Section */
header {
  background-color: #99BC85;
}

.logo {
  width: 5rem;
}

.container1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
}

.container1 nav ul {
  display: flex;
  list-style: none;
}

.container1 nav ul li {
  margin-left: 2rem;
}

.container1 nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
}

/* Main/Hero Section */
main {
  background-image: url(../assets/img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 200px 50px;
}

.container2 h1 {
  color: white;
  font-size: 3rem;
  margin-bottom: 10px;
}

.container2 p {
  color: white;
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.container2 .button {
  width: 60px;
  background-color: #99BC85;
  color: white;
  text-align: center;
  font-size: 1.2rem;
  padding: 15px 30px;
  border-radius: 10px;
}

.container2 a {
  text-decoration: none;
  color: white;
}

/* About Me Section */
.about {
  padding: 100px 50px;
  background-color: whitesmoke;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.container3 {
  width: 500px;
}

.container3 img {
  width: 500px;
}

/* Contact Section */
.contact {
  padding: 200px 50px;
  text-align: center;
}

.container4 {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 50px;
  border-radius: 10px;
  box-shadow: 3px 5px rgba(0, 0, 0, 0.1);
}

.container4 h2 {
  font-size: 2rem;
  margin-bottom: 30px;
}

.container4 input, .container4 textarea {
  width: 90%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.container4 button {
  background-color: #99BC85;
  color: white;
  border: none;
  border-radius: 5px;
  width: 100px;
  height: 50px;
  font-size: 1rem;
  margin-bottom: 30px;
}

@media screen and (max-width: 480px) {
  .container1 nav ul li a {
    font-size: 0.7rem;
  }

  .container1 nav ul li {
    margin-left: 1rem;
  }

  main {
    padding: 175px 50px;
  }

  .container2 h1 {
    font-size: 1.5rem;
  }

  .container2 p {
    font-size: 0.8rem;
  }

  .about {
    padding: 50px 20px;
    display: block;
  }

  .container3 {
    width: 300px;
    margin: 0 auto;
    text-align: center;
  }

  .container3 h2 {
    font-size: 1.2rem;
  }

  .container3 p {
    font-size: 0.8rem;
  }

  .container3 img {
    width: 300px;
  }

  .contact {
    padding: 150px 20px;
  }

  .container4 {
    padding: 0 20px;
  }

  .container4 h2 {
    font-size: 1.2rem;
  }
}